images/
imagesV3.mat

Neural networks/InceptionV3/Old analysis/
Neural networks/InceptionV3/Original images/
Neural networks/InceptionV3/Experimental images/

Neural networks/Alexnet/Old analysis/
Neural networks/Alexnet/Original images/
Neural networks/Alexnet/Experimental images/

Neural networks/VGG19/Old analysis/
Neural networks/VGG19/Original images/
Neural networks/VGG19/Experimental images/

Brain/Brain representations/

Neural networks/InceptionResNetV2/Original images/
Neural networks/InceptionResNetV2/Experimental images/

Neural networks/ResNet50/Experiment images/
Neural networks/ResNet50/Original images/

Neural networks/ResNet101/Experimental images/
Neural networks/ResNet101/Original images/

Neural networks/Densenet201/Experiment images/
Neural networks/Densenet201/Original images/

*.asv
Brain/Images/

